.shopTitle {
    margin-top: 80px;
    text-align: center;
    font-size: 40px;
    font-family: MonteCarlo, sans-serif;
  }
  .products {
   
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
  }
  
  .product {
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .product img {
    width: 300px;
    height: 225px;
    border-radius: 20px;
  }
  
  .product .description {
    font-family: MonteCarlo,sans-serif;
    font-size: 29px;
    text-align: center;
  }
  .description .pname{
    margin-bottom: 5px;
    margin-top: 0px;
  }
  .description .price{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0;
    color: rgb(19, 19, 19);
  }
  
  .product:hover {
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .addToCartBtn {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
  }
  
  .addToCartBtn:hover {
    background-color: #143858;
    transition: 0.5s ease-in-out;
    color: white;
    cursor: pointer;
    min-width: 150px;
  }
.shopTitle h1{
  margin-bottom:30px;
  font-size: 40px;
}
  @media only screen and (max-width: 1400px) {
    .products {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media only screen and (max-width: 1200px) {
    .products {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media only screen and (max-width: 900px) {
    .products {
      grid-template-columns: 1fr;
    }
  }