.navbar {
  width: 100%;
  height: 80px;
  background-color: #143858;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid white;
 }

.rightSide {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.rightSide a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 25px;
}
.rightSide a:hover{
  color: #0f2c3f;
  background-color: aliceblue;
  transition: 0.5s;
  border-radius: 20px;
}
.leftSide a:hover{
  color: #0f2c3f;
  background-color: aliceblue;
  transition: 0.5s;
  border-radius: 20px;
}
.rightSide button{
  background-color: transparent;
  border:none;
  color:white;
  cursor: pointer;
}
.rightSide button:hover{
  color:black;
  cursor: pointer;
}

.leftSide{
  margin-left: 30px;
  display: flex;
  align-items: center;

}
.leftSide a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 25px;
}
#diamond{
  width: 58px;
  height: 58px;
  border-radius: 50%;
}
.leftSide p{
  color: white;
  margin-left: 15px;
  font-size: 50px;
  font-weight: bold;
  font-family: MonteCarlo, sans-serif;
}
p{
  margin-block-end: 0;
}
#open{
  margin-left: 0;
}
#open img{
  display:none;
}
#open p{
  display: none;
}
#close img{
  display:inherit;
}
#close p{
  display: inherit;
}
#open .hiddenLinks{
  display: inherit;
  
}
#close .hiddenLinks {
  display:none;
}

@media only screen and (max-width: 900px) {
 
  .leftSide {
    padding-left: 0px;
    margin: 0;
  }
}
@media only screen and (max-width: 660px){
  .rightSide a {
    display: none;
  }
  .rightSide {
    justify-content: flex-end;
    margin-right: 10px;
  }
  .rightSide button {
    display: inherit;
  }
}
@media only screen and (min-width: 660px) {
  .rightSide button{
    display: none;
  }
  .hiddenLinks{
    display: none;
  }
}